.barChartContainer {
    height: 350px;
    position: relative;
    .recharts-responsive-container {
        padding: 10px 0;
        margin-left: 2%;
        margin-top: 4%;
        background-color: #fbfbfb;
    }
    ul {
        li {
            padding: 0 20px 20px 30px;
            .recharts-legend-item-text {
                font-size: 11px;
            }
        }
    }
    .dailyTitle {
        position: absolute;
        left: 75px;
        top: 8%;
        z-index: 1000;
        font-size: 15px;
        color: black;
        font-weight: 500;
    }
    .customTooltip {
        background-color: #e60000;
        padding: 2px 10px;
        color: white;
        font-weight: 400;
        font-size: 12px;
    }
}
