.header {
    width: 100%;
    height: 91px;
    display: flex;
    align-items: center;
    background-color: #020203;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 2px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .headerNav {
        width: calc(100% - 32px);
        padding: 0 16px;
        display: flex;
        justify-content: space-evenly;
        a {
            color: #fff;
            font-size: 24px;
        }
    }
}

img {
    height: 60px;
    padding-left: 30px;
}
